#todophp-app input[type=text]{width:400px;font-size:18px;line-height:24px;padding:10px;}
#todo-list li.editing{border-bottom:1px solid #789;}
#todo-list .destroy{position:absolute;right:5px;top:20px;display:none;cursor:pointer;width:20px;height:20px;}
#todophp-app footer{display:none;overflow:hidden;color:#555;background:#f4fce8;border-top:1px solid #ededed;line-height:37px;margin:0 -20px -20px;padding:0 20px;}
.todo-count{float:left;}
.todo-count .count{font-weight:700;}
#clear-completed{cursor:pointer;padding:10px;}
#todo-list li .edit,#todo-list li.editing .view{display:none;}
#todo-list li.editing .edit{display:inline-block;}
#todo-list li.done label,#todo-list li .done-true{color:#777;text-decoration:line-through;}
